<% @place.reviews.order(:created_at).reverse.each do |review| %>
	<div class="panel panel-default">
		<div class="panel-heading">
			
			<h3 class="panel-title"><%= stars review.rating %><%= review.created_at.strftime(' %a, %b %e, %Y at %l:%M %p') %></h3>
		</div>
		<div class="panel-body"><%= review.description %></div>
	</div>
<% end %>